:root{
    --theme-bg: #18181A;
    --theme-shadow: #1FA65A;
    --theme-gray: #5B5B5B;
    --theme-secondary: rgba(255, 255, 255, 0.1);
    --theme-light-gray: #F7F7F7;
    --theme-border: #E6E6E6;
    --theme-light-border: rgba(24, 24, 26, 0.2);
    --theme-wafer-secondary: #ADB1B9;
    --theme-blue: #2199D4
}

/*ICON*/
i.icon.i-telegram{
    content: url("../picture/svg/i-telegram.svg");
}
i.icon.i-whatsapp{
    content: url("../picture/svg/i-whatsapp.svg");
}
i.icon.i-itj{
    content: url("../picture/svg/i-itj.svg");
}
i.icon.i-phone{
    content: url("../picture/svg/i-phone.svg");
}
i.icon.i-phone-mobile{
    content: url("../picture/svg/i-phone-mobile.svg");
}
i.icon.i-time{
    content: url("../picture/svg/i-time.svg");
}
i.icon.i-arrow{
    content: url("../picture/svg/i-arrow.svg");
}
i.icon.i-arrow-black{
    content: '';
    display: block;
    width: 8px;
    height: 6px;
    mask-image: url("../picture/svg/i-arrow.svg");
}

i.icon.i-burger{
    content: url("../picture/svg/i-burger.svg");
}
i.icon.i-paper_clip{
    content: url("../picture/svg/i-paper_clip.svg");
}
.i-arrow-right{
    transform: rotate(-90deg);
}
/*ICON*/

body{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: white;
    background-color: var(--theme-bg);
    overflow-x: hidden;
}
@media (min-width: 768px) {
    body {
        font-size: 14px;
        line-height: 17px;
    }
}
@media (min-width: 1366px) {
    body {
        font-size: 16px;
        line-height: 19px;
    }
}
@media (min-width: 1600px) {
    body {
        font-size: 20px;
        line-height: 24px;
    }
}
a{
    text-decoration: none;
    color: inherit;
    transition: opacity .2s linear;
}
a:hover{
    opacity: .7;
}
a[href^='tel:']{
    white-space: nowrap;
}
img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
textarea:focus-visible,
input:focus-visible {
    outline: none;
}
textarea{
    resize: none;
    overflow: hidden;
}
/*                     */
.text-gray{
    color: var(--theme-gray);
}
.text-large{
    font-size: 14px;
    line-height: 19px;
}
.heading{
    font-family: "Despair Display";
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.h2{
    font-size: 24px;
    line-height: 26px;
}
.h3{
    font-size: 20px;
    line-height: 28px;
}
.flex-1{
    flex: 1;
}
.gap-12{
    gap: 12px;
}
.gap-20{
    gap: 20px;
}
.gap-24{
    gap: 24px;
}
.gap-40{
    gap: 40px;
}
.row-gap-40{
    --bs-gutter-x: 40px;
    --bs-gutter-y: 40px;
}
.link{
    padding: 8px 0;
    border-bottom: 2px solid;
    width: max-content;
    width: -moz-max-content;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 16px;
    width: max-content;
    width: -moz-max-content;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #fff;
    border: none;
    background-color: var(--theme-bg);
}
.button-min{
    padding: 10px 24px;
}
.button-border{
    width: 100%;
    font-size: inherit;
    color: #000;
    background-color: #fff;
    border: 1px solid var(--theme-shadow);
}
.button-green{
    background-color: var(--theme-shadow);
}
.button-blue{
    background-color: var(--theme-blue);
}
.button-big{
    padding: 20px 40px;
}
.button-neon{
    padding: 12px;
    gap: 12px;
    background: rgba(31, 166, 90, 0.2);
    color: var(--theme-shadow);
}
.button-secondary{
    padding: 12px 24px;
    gap: 8px;
    color: #fff;
    background-color: var(--theme-secondary);
}
.button-light-white{
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--theme-bg);
}
[data-field-error]{
    position: relative;
}
[data-field-error]:before{
    content: attr(data-field-error);
    position: absolute;
    top: 100%;
    font-size: smaller;
    color: #f65454;
}
@media (max-width: 767px) {
    .heading{
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: keep-all;
        line-break: loose;
        hyphens: manual;
    }
}

@media (min-width: 768px) {
    .button-neon{
        padding: 17px 24px;
    }
    .h2{
        font-size: 32px;
        line-height: 36px;
    }
    .h3{
        font-size: 28px;
        line-height: 40px;
    }
}
@media (min-width: 1024px) {
    .button-neon{
        padding: 12px 24px;
    }
    .h2{
        font-size: 36px;
        line-height: 40px;
    }
}
@media (min-width: 1366px) {
    .h2{
        font-size: 48px;
        line-height: 52px;
    }
    .h3{
        font-size: 40px;
        line-height: 56px;
    }
    .text-large{
        font-size: 16px;
        line-height: 22px;
    }
    .button {
        font-size: 18px;
        line-height: 25px;
    }
    .button-min{
        padding: 12px 24px;
    }
}
@media (min-width: 1600px) {
    .h2{
        font-size: 54px;
        line-height: 60px;
    }
    .text-large {
        font-size: 20px;
        line-height: 28px;
    }
}
.text-decoration-underline{
    text-underline-position: under;
}
/*MODAL*/
.modal {
    --bs-modal-color: var(--theme-bg);
    --bs-modal-header-padding: 40px;
    --bs-modal-padding: 0 40px 40px;
}
.btn-close {
    --bs-btn-close-opacity: 1;
}
.modal-dialog-dark .btn-close {
    filter: invert(1);
}
.modal-header{
    border: none;
}

.modal__label-group{
    margin: 40px 0;
}
.modal__input{
    height: 24px;
    border: none;
    border-bottom: 1px solid var(--theme-wafer-secondary);
}
.modal__button{
    font-size: 18px;
    line-height: 25px;
    padding: 6px 0;
}
.modal-dialog{
    max-width: 1025px;
}
.modal-dialog-dark .modal-content{
    color: #fff;
    background-color: var(--theme-bg);
}
.modal-dialog-dark .modal-content:before{
    content: '';
    position: absolute;
    display: block;
    width: 100vw;
    height: 100%;
    background: url("/asset/picture/img/shadow_modal.png") center/cover no-repeat;

}
.model-message__body{
    display: flex;
}
.model-message__img{
    width: 80px;
    height: 80px;
}
.model-message__close{
    position: absolute;
    right: 40px;
    top: 40px;
}
.model-message__body{
    padding: 40px;
}

@media (max-width: 767px) {
    .modal{
        --bs-modal-border-radius: 0;
    }
    .modal-dialog {
        height: 100%;
        align-items: end;
        margin: 0;
    }
    .modal-content{
        border: none;
    }
    .model-message__button{
        width: 100%;
    }
}
@media (min-width: 768px) {
    .modal-dialog-dark .modal-content:before {
        width: 100%;
    }
    .modal {
        --bs-modal-padding: 0 96px 40px 40px;
    }
    .modal__form{
        font-size: 14px;
        line-height: 17px;
    }
    .modal__button{
        padding: 20px 40px;
        font-size: 20px;
        line-height: 24px;
    }
    .modal-dialog-dark .modal-content{
        border-top: 4px solid var(--theme-shadow);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
    .model-message__dialog{
        max-width: 600px;
    }
}

/*OFFCANVAS*/
.offcanvas{
    --bs-offcanvas-height: auto;
    max-height: 100vh;
}
.offcanvas-header{
    padding: 40px;
}
.offcanvas-body{
    padding: 0 40px 40px;
    font-size: 18px;
    line-height: 25px;
}
.item__dotes{
    padding: 24px 0;
    border-top: 2px dotted rgba(91, 91, 91, 0.5);
}
.item__dotes:last-child{
    border-bottom: 2px dotted rgba(91, 91, 91, 0.5);
}

/*                     */

/*HEADER*/
.s-header{
    flex-wrap: wrap;
    gap: 12px 24px;
    padding: 16px 0;
    justify-content: space-between;
}
.s-header__picture{
    width: auto;
    height: 36px;
}
.s-header__social{
    gap: 8px;
}
.s-header__city{
    flex-direction: column;
    gap: 8px;
    border: none;
    color: #fff;
    background-color: transparent;
    padding: 0;
}
.s-header__city-value{
    align-items: center;
    gap: 8px;
}
.s-header__contacts{
    justify-content: space-between;
}
@media(max-width: 374px){
    .s-header__top{
        width: 100%;
    }
    .s-header__contacts{
        flex: 1;
        flex-direction: column;
        gap: 12px;
    }
    .s-header__call{
        order: 2;
    }
}
@media (max-width: 767px) {
    .s-header {
        line-height: 16px;
    }
    .s-header__contacts{
        width: 100%;
    }
    .s-header__time{
        padding: 10px 12px;
    }
}
@media (min-width: 768px) and (max-width:  1365px) {
    .s-header__time{
        background-color: transparent;
        padding: 0;
    }
}
@media (min-width: 768px) {
    .s-header {
        flex-wrap: nowrap;
        padding: 16px;
    }
    .s-header__picture{
        height: 50px;
    }
    .s-header__contacts{
        flex-direction: column;
        gap: 12px;
        align-items: end;
        flex: 1;
    }
    .s-header__social{
        gap: 10px;
    }
    .s-header__call{
        order: 2;
    }
}
@media (min-width: 1024px) {
    .s-header__picture{
        height: 40px;
    }
    .s-header__social{
        gap: 24px;
    }
    .s-header__contacts{
        flex-direction: row;
        gap: 24px;
        justify-content: flex-end;
    }
}
@media (min-width: 1366px) {
    .s-header {
        flex-wrap: nowrap;
        padding: 16px 40px;
    }
    .s-header__social{
        gap: 16px;
    }
    .s-header__contacts{
        gap: 40px;
        align-items: center;
    }
    .s-header__city, .s-header__time{
        line-height: 22px;
    }
}
@media (min-width: 1600px) {
    .s-header {
        gap: 40px;
    }
    .s-header__call,
    .s-header__city, .s-header__time{
        line-height: 25px;
        font-size: 18px;
    }
}
.s-menu{
    background: var(--theme-light-gray);
    border-radius: 10px 10px 0 0;
    color: #000;
}
.s-menu__ul > *{
    flex: 1;
}
.s-menu__item{
    gap: 10px;
    padding: 20px 10px;
    justify-content: space-between;
    align-items: center;
}
.s-menu__ul li + li .s-menu__item{
    border-left: 1px solid var(--theme-border);
}
.s-menu__item span{
    display: flex;
    height: 16px;
    align-items: center;
    line-height: normal;
}
@media (max-width: 767px) {
    .s-menu__ul>li:nth-child(n+2):nth-last-child(n+2){
        display: none;
    }
}
@media (min-width: 374px) {
    .s-menu__item {
        gap: 16px;
        padding: 20px 16px;
    }
}
@media (min-width: 768px) {
    .s-menu__item {
        gap: 20px;
        padding: 20px;
    }
    .s-menu__ul>li:last-child{
        display: none;
    }
}
@media (min-width: 1024px) {
    .s-menu__item {
        gap: 24px;
        padding: 24px;
    }
}
@media (min-width: 1366px) {
    .s-menu__item {
        padding: 32px;
    }
}
.s-menu__children-ul-cover {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: visible;
    width: 100%;
    padding: 24px 0;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}
.s-menu__children-ul{
    display: flex;
    width: 100%;
}
.s-menu__children-ul>li{
    padding: 0 24px;
}
.s-menu__ul li{
    position: relative;
}
.s-menu__ul>li:hover .s-menu__children-ul-cover{
    display: block;
}
.s-menu__item{
    color: var(--theme-bg);
}
.s-menu__children-ul .s-menu__item span {
    height: auto;
    width: 100%;
}
.s-menu__children-ul .s-menu__item{
    padding: 0;
    gap: 10px;
    font-size: inherit;
    line-height: inherit;
}
.s-menu__children-ul .s-menu__item i.icon{
    opacity: .6;
    flex-shrink: 0;
}
.s-menu__picture{
    width: 16px;
    height: 16px;
}
.s-menu__children-ul li.select>.s-menu__item,
.s-menu__children-ul li:hover>.s-menu__item{
    color: var(--theme-shadow);
}
.s-menu__children-ul li.select>.s-menu__item i.icon,
.s-menu__children-ul li:hover>.s-menu__item i.icon{
    opacity: 1;
    background-color: var(--theme-shadow);
}
.s-menu__children-ul-v2{
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    padding: 24px 40px;
    gap: 24px;
    background: #FFFFFF;
    border-radius: 10px;
}
.s-menu__children-ul li:hover .s-menu__children-ul-v2{
    display: flex;
}

@media (max-width: 1023px) {
    .s-menu__children-ul .s-menu__item {
        font-size: smaller;
    }
}
@media (min-width: 1024px) {
    .s-menu__picture{
        width: 24px;
        height: 24px;
    }
    .s-menu__children-ul-cover {
        max-height: 80vh;
    }
}
@media (min-width: 1366px) {
    .s-menu__children-ul>li{
        padding: 0 32px;
    }
}
@media (min-width: 1600px) {
    .s-menu__children-ul .s-menu__item {
        font-size: 16px;
        line-height: 22px;
    }
    .s-menu__picture{
        width: 36px;
        height: 36px;
        margin-right: 14px;
    }
}
@media (min-width: 1900px) {
    .s-menu__children-ul>li{
        padding: 0 40px;
    }
}
.s-menu__button{
    display: none;
}
.fixed-header{
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0 12px 0 16px;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.fixed-header .s-menu__button{
    display: flex;
    padding: 8px;
}
.fixed-header .container{
   display: contents;
}

.fixed-header .s-menu{
    display: flex;
    gap: 14px;
    align-items: center;
    background-color: transparent;
}
@media (max-width: 767px) {
    .fixed-header .s-header{
        display: none !important;
    }
}
@media (min-width: 768px) {
    .fixed-header {
        color: var(--theme-bg);
        padding: 0 ;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 10px 30px rgba(0, 0, 0, 0.1);
    }
    .fixed-header .s-header__top{
        display: none !important;
    }
    .fixed-header .s-header{
        padding: 0;
        width: 100%;
    }
    .fixed-header .s-menu__ul>li:not(:last-child):not(:first-child) {
        display: none;
    }
    .fixed-header .s-menu__ul li:last-child{
        display: flex;
    }
    .fixed-header .s-header__contacts{
        flex-direction: row;
        margin-left: 16px;
    }
    .fixed-header .s-header__time i.icon,
    .fixed-header .s-header__social i.icon{
        filter: invert(1);
    }
    .fixed-header .s-header__time{
        color: var(--theme-bg);
    }
    .fixed-header .s-menu__ul li + li .s-menu__item {
        border-right: 1px solid var(--theme-border);
    }
    .fixed-header .s-header__call{
        margin-right: 16px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .fixed-header .s-menu__item{
        font-size: 12px;
    }
    .fixed-header .s-header__call{
        padding: 12px 16px;
    }
}
@media (min-width: 1024px) {
    .fixed-header .s-menu__item {
        padding: 22px 40px;
        line-height: 19px;
    }
    .fixed-header .s-header__contacts {
        justify-content: space-between;
    }
    .fixed-header .s-header,
    .fixed-header .s-menu{
        flex: 1;
        width: 100%;
    }
    .fixed-header .s-menu__ul,
    .fixed-header .s-menu__item{
        width: 100%;
    }
}
@media (min-width: 1366px) {
    .fixed-header .s-menu__item {
        padding: 27px 40px;
        line-height: 22px;
    }
     .fixed-header .s-header {
         gap: 40px ;
    }
    .fixed-header .s-header__time{
        gap: 10px;
    }
    .fixed-header .s-header__social_network{
        display: none;
    }
    .fixed-header .s-header__call{
        margin-right: 24px;
    }
    .fixed-header .s-header__contacts{
        margin-left: 24px;
    }
}
@media (min-width: 1366px) and (max-width: 1599px) {
    .fixed-header .s-header__call{
        font-size: 16px;
        line-height: 22px;
    }
}
@media (min-width: 1600px) {
    .fixed-header .s-menu__item {
        line-height: 24px;
    }
    .fixed-header .s-header__contacts {
        justify-content: end;
    }

}
/*HEADER*/


/*FOOTER*/
footer{
    padding: 40px 0;
}
footer:before{
    content: '';
    position: absolute;
    width: 1900px;
    height: 774px;
    right: 0;
    bottom: 0;
    background: url("../picture/img/shadow.png")  no-repeat;
    background-size: cover;
}
.s-footer{
    font-size: 14px;
    line-height: 17px;
}
.s-footer__picture{
    width: auto;
    height: 40px;
}
.s-footer__nav{
    padding-top: 24px;
    border-top: 1px solid #fff;
    line-height: 19px;
}

.s-footer__nav li + li{
    margin-top: 24px;
}
.s-footer__author_link{
    gap: 8px;
}
@media (min-width: 768px) {
    .s-footer__picture {
        height: 64px;
    }
}
@media (min-width: 768px) and (max-width: 1365px){
    .s-footer__author{
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
@media (min-width: 1024px) {
    .s-footer__picture{
        height: 73px;
    }
}
@media (min-width: 1366px) {
    .s-footer__nav{
        line-height: 22px;
    }
    .s-footer__author{
        opacity: .5;
    }
}
@media (min-width: 1600px) {
    .s-footer__nav{
        font-size: 18px;
        line-height: 25px;
    }
    footer{
        padding: 96px 0;
    }
}

/*MAIN*/
.s-main{
    padding: 20px 24px;
    border-radius: 0 0 10px 10px;
    color: var(--theme-bg);
    background-color: #fff;
}
@media (max-width: 767px) {
    .s-main, .s-menu{
        margin-left: -8px;
        margin-right: -8px;
    }
}
@media (min-width: 768px) {
    .s-main {
        padding: 40px;
    }
    .section{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (min-width: 1366px) {
    .s-main {
        padding: 64px;
    }
    .section{
        padding-left: 96px;
        padding-right: 96px;
    }
}
@media (min-width: 1600px) {
    .s-main {
        padding: 64px 96px 96px;
    }
    .section:not(footer):not(.s-form){
        padding-left: 128px;
        padding-right: 128px;
    }
}
@media (min-width: 1900px) {
    .section{
        padding-left: 128px;
        padding-right: 128px;
    }
}

/*BANNER*/
.s-banner{
    flex-direction: column;
}
.s-banner__img{
    margin: -20px -24px 0;
    width: calc(100% + 48px);
    height: 130px;
    object-fit: cover;
}
.s-banner__body{
    margin: 24px 0;
    gap: 24px;
    flex-direction: column;
}
@media (min-width: 768px) {
    .s-banner {
        gap: 40px;
        margin-bottom: 40px;
    }
    .s-banner__img{
        margin: 0;
        width: 100%;
        height: 183px;
        order: 2;
        border-radius: 10px;
    }
    .s-banner__body{
        margin: 0 ;
        gap: 40px;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .s-banner__desc{
        gap: 24px;
    }
    .s-banner__desc>*{
        flex: 1;
    }
    .s-banner__title{
        width: 100%;
    }
    .s-banner__text{
        flex-direction: column;
        gap: 16px;
    }
}
@media (min-width: 1024px) {
    .s-banner {
        gap: 24px;
    }
    .s-banner__body {
        gap: 24px;
    }
    .s-banner__img {
        height: 256px;
    }
}
@media (min-width: 1366px) {
    .s-banner {
        gap: 40px;
        margin-bottom: 64px;
    }
    .s-banner__img {
        height: 341px;
    }
    .s-banner__body{
        gap: 40px;
        flex-wrap: nowrap;
    }
    .s-banner__desc{
        gap: 40px;
    }
}
@media (min-width: 1600px) {
    .s-banner {
        gap: 40px;
        margin-bottom: 96px;
    }
    .s-banner__img {
        height: 389px;
    }
}
@media (min-width: 1900px) {
    .s-banner__img {
        height: 476px;
    }
}
/*CATALOG*/
.s-catalog__top{
    margin-bottom: 24px;
}
.s-catalog__row{
    --bs-gutter-x: 24px;
    --bs-gutter-y: 24px;
}
.s-catalog__link{
    font-size: 12px;
    line-height: 16px;
    gap: 24px;
    align-items: center;
}
.s-catalog__img{
    width: 40px;
    height: 40px;
}
@media (max-width: 767px) {
    .s-catalog__item:nth-child(n+6){
        display: none;
    }
}
@media (min-width: 768px) {
    .s-catalog__top{
        align-items: center;
        justify-content: space-between;
        column-gap: 10px;
        margin-bottom: 40px;
    }
}
@media (min-width: 1024px) {
    .s-catalog__row{
        --bs-gutter-x: 40px;
        --bs-gutter-y: 40px;
    }
    .s-catalog__img{
        width: 80px;
        height: 80px;
    }
    .s-catalog__link {
        font-size: 14px;
        line-height: 19px;
    }
}
@media (min-width: 1366px) {
    .s-catalog__top{
        margin-bottom: 96px;
    }
    .s-catalog__link {
        font-size: inherit;
        line-height: 22px;
        gap: 40px;
    }
}
@media (min-width: 1600px) {
    .s-catalog__link {
        line-height: 28px;
    }
}

    /*CONTACT*/
.s-contact{
    padding: 24px 16px;
    color: var(--theme-bg);
    background: var(--theme-wafer-secondary);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}
.s-contact__item {
    line-height: 16px;
    gap: 20px;
    flex-direction: column;
}
.s-contact__body{
    margin-top: 24px;
    flex-direction: column;
    gap: 20px;
}
.s-contact__hr:before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--theme-light-border);
}
.s-contact__title{
    gap: 12px;
    align-items: end;
}
.s-contact__icon{
    width: 21px;
    height: 21px;
}
.s-contact__text{
    margin-left: 33px;
    flex-direction: column;
    gap: 12px;
}
.s-contact__address{
    gap: 20px;
}
.s-contact__social{
    gap: 12px;
}
@media (min-width: 768px) {
    .s-contact {
        padding: 40px;
    }
    .s-contact__body{
        flex-direction: row;
        gap: 24px;
        flex-wrap: wrap;
    }
    .s-contact__hr:before{
        width: 1px;
        height: 100%;
    }
    .s-contact__item{
        padding: 40px 0;
        flex: 1;
    }
    .s-contact__title{
        gap: 24px;
        flex-direction: column;
        align-items: flex-start;
    }
    .s-contact__text{
        margin-left: 0;
    }

    .s-contact__address{
        gap: 24px;
    }
    .s-contact__icon{
        width: 32px;
        height: 32px;
    }
    .s-contact__item {
        line-height: 19px;
        gap: 24px;
    }
    .s-contact__top{
        width: 100%;
    }
}
@media (min-width: 1366px) {
    .s-contact {
        padding: 40px 96px;
    }
    .s-contact__body{
        gap: 40px;
        flex-wrap: nowrap;
    }
    .s-contact__top{
        flex:1;
    }
    .s-contact__icon{
        width: 36px;
        height: 36px;
    }
    .s-contact__top{
        padding: 40px 0;
    }
}
@media (min-width: 1600px) {
    .s-contact__top{
        padding: 64px 0;
    }
    .s-contact__item {
        padding: 64px 0;
        font-size: 18px;
        line-height: 25px;
    }
}
@media (min-width: 1900px) {
    .s-contact__top {
        padding: 128px 0;
    }
}

/*ADVANTAGES*/
.s-advantages{
    margin: 24px 0;
}
.s-advantages__container{
    --bs-gutter-x: 24px;
    --bs-gutter-y: 24px;
    line-height: 16px;
}
.s-advantages__img{
    width: 32px;
    height: 32px;
}
@media (min-width: 768px) {
    .s-advantages__item{
        flex-direction: column;
    }
    .s-advantages__container{
        --bs-gutter-x: 20px;
        --bs-gutter-y: 40px;
        line-height: 19px;
    }
    .s-advantages{
        margin: 80px 0 40px;
    }
}
@media (min-width: 1024px) {
    .s-advantages__img{
        width: 64px;
        height: 64px;
    }
    .s-advantages__container{
        --bs-gutter-x: 40px;
    }
    .s-advantages__item + .s-advantages__item{
        border-left: 1px solid var(--theme-secondary);
    }
}
@media (min-width: 1366px) {
    .s-advantages{
        margin: 104px 0 40px;
    }
    .s-advantages__container{
        --bs-gutter-x: 80px;
        line-height: 22px;
    }
}
@media (min-width: 1600px) {
    .s-advantages__container{
        font-size: 18px;
        line-height: 25px;
    }
}

/*NEWS*/
.s-news{
    margin: 24px 0;
    padding-top: 24px;
    border-top: 1px solid var(--theme-secondary);
}
.s-news__container{
    --bs-gutter-x: 0;
    --bs-gutter-y: 24px;
    margin-top: 24px;
}
.s-news__container a{
    display: contents;
}
.s-news__item + .s-news__item{
    padding-top: 24px;
    border-top: 1px solid var(--theme-secondary);
}
.s-news__button{
    font-size: inherit;
    height: 32px;
}
.s-news__name{
    line-height: 16px;
}
@media (max-width: 767px) {
    .s-news__item:nth-last-child(-n+2){
        display: none !important;
    }
}
@media (min-width: 768px) {
    .s-news{
        margin: 40px 0;
        padding-top: 40px;
    }
    .s-news__container{
        --bs-gutter-x: 48px;
        --bs-gutter-y: 0;
        margin-top: 40px;
    }
    .s-news__item + .s-news__item{
        padding-top: 0;
        border-top: none;
        border-left: 1px solid var(--theme-secondary);
    }
    .s-news__button{
        line-height: 19px;
        height: 34px;
    }
    .s-news__name{
        line-height: 19px;
    }
    .s-news__text{
        flex: 1;
    }
}
@media (max-width: 1365px) {
    .s-news__item:last-child{
        display: none !important;
    }
}
@media (min-width: 1366px) {
    .s-news{
        margin: 40px 0 64px;
        padding-top: 104px;
    }
    .s-news__container{
        --bs-gutter-x: 80px;
        margin-top: 64px;
    }
    .s-news__name{
        line-height: 22px;
    }
    .s-news__date{
        font-size: 14px;
        line-height: 17px;
    }
    .s-news__button{
        font-size: 16px;
        line-height: 22px;
        height: 35px;
    }
}
@media (min-width: 1600px) {
    .s-news__name{
        line-height: 28px;
    }
    .s-news__button{
        font-size: 18px;
        line-height: 25px;
        height: 37px;
    }
}

/*FORM*/
.s-form{
    flex-direction: column;
    gap:48px;
    margin: 0 0 24px;
    padding-top: 24px;
}
.s-form__discript{
    flex-direction: column;
    gap: 24px;
}
.s-form__discript:before{
    content: '';
    position: absolute;
    display: block;
    max-width: 631px;
    width: 100%;
    height: 220px;
    left: 0;
    top: 0;

    background: var(--theme-shadow);
    opacity: 0.3;
    filter: blur(150px);
    z-index: -1;
}


.s-form__advantages {
    --bs-gutter-x: 0;
    --bs-gutter-y: 20px;
}
.s-form__advantage{
    align-items: center;
}
.s-form__advantage + .s-form__advantage{
    padding-top: 20px;
    border-top: 1px solid var(--theme-secondary);
}
.s-form__advantage__img{
    width: 32px;
    height: 32px;
}
.s-form__form{
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    background: var(--theme-secondary);
    border-top: 4px solid var(--theme-shadow);
    border-radius: 10px;
}
.s-form__input{
    padding: 10px 20px;
    width: 100%;
    height: 50px;
    background: var(--theme-secondary);
    border-radius: 10px;
    border: none;
    color: inherit;
}
.s-form__textarea{
    align-items: flex-start;
    padding: 15px 20px;
    background: var(--theme-secondary);
    border-radius: 10px;
    min-height: 50px;
}
.s-form__textarea textarea{
    border: none;
    color: inherit;
    height: 20px;
    padding-top: 5px;
    background: transparent;
    width: 100%;
}
.s-form__button{
    width: 100%;
}
@media (min-width: 768px) {
    .s-form{
        gap:40px;
        margin: 40px 0 ;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .s-form__discript{
        flex-direction: column;
        gap: 40px;
    }
    .s-form__advantage__img{
        width: 60px;
        height: 60px;
    }
    .s-form__advantages {
        --bs-gutter-x: 48px;
        --bs-gutter-y: 0;
    }
    .s-form__advantage{
        font-size: 12px;
        line-height: 14px;
    }
    .s-form__form{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 40px;
        row-gap: 12px;
        font-size: 12px;
        line-height: 14px;
    }
    .s-form__label:not(.s-form__label-textarea){
        width: auto;
        flex: 1;
    }
    .s-form__label-textarea{
        width: 100%;
    }
    .s-form__button{
        width: auto;
    }
    .s-form__footer{
        margin-top: 12px;
        align-items: flex-start;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .s-form__advantage{
        flex-direction: column;
        align-items: flex-start;
    }
    .s-form__advantage + .s-form__advantage{
        padding-top: 0;
        border-top: none;
        border-left: 1px solid var(--theme-secondary);
    }
}
@media (min-width: 1024px) and (max-width: 1365px) {
    .s-form{
        padding: 40px 64px;
    }
}
@media (min-width: 1024px){
    .s-form{
        gap: 0;
        flex-direction: row;
    }
    .s-form__discript{
        justify-content: center;
        padding-right: 40px;
    }
    .s-form__form {
        flex-direction: column;
    }
    .s-form__advantages {
        flex-direction: column;
        --bs-gutter-x: 0;
        --bs-gutter-y: 24px;
    }
    .s-form__advantage + .s-form__advantage {
        padding-top: 24px;
    }
    .s-form__discript:before{
        top: 50%;
        max-width: 713px;
        width: 713px;
        height: 249px;
        transform: translateY(-50%);
    }
}
@media (min-width: 1366px) {
    .s-form__discript {
        padding-right: 64px;
    }
    .s-form__advantages {
        flex-direction: row;
        --bs-gutter-x: 48px;
        --bs-gutter-y: 0;
    }
    .s-form__advantage{
        flex-direction: column;
        align-items: flex-start;
    }
    .s-form__advantage + .s-form__advantage{
        padding-top: 0;
        border-top: none;
        border-left: 1px solid var(--theme-secondary);
    }
    .s-form__form,
    .s-form__advantage {
        font-size: 14px;
        line-height: 17px;
    }
    .s-form__form {
        flex-direction: row;
        padding: 64px;
        column-gap: 16px;
    }

}
@media (min-width: 1366px) and (max-width: 1599px) {
    .s-form__label.s-form__label-email{
        width: 100%;
        flex: auto;
    }
}
@media (min-width: 1600px) {
    .s-form__discript {
        padding-right: 96px;
    }
    .s-form__textarea {
        min-height: 54px;
    }
    .s-form__input {
        height: 54px;
    }
    .s-form__form {
        column-gap: 20px;
    }
}
@media (min-width: 1600px) {
    .s-form__textarea {
        min-height: 62px;
    }

    .s-form__input {
        height: 62px;
    }
}
